In [13]:
%run base

In [14]:
sql_file = './app/static/sql/output_sql/user_actions.sql'

In [15]:
with codecs.open(sql_file, 'r', 'utf-8') as f:
    sql = f.read()

In [16]:
sql

'SELECT\r\n     id\r\n    ,user_id\r\n    ,item_code\r\n    ,action_code\r\n    ,timestamp\r\nFROM\r\n    public.user_actions\r\nLIMIT 10\r\n'

In [17]:
df = pd_sql_to_df(sql)

In [18]:
df.head()

   id  user_id  item_code action_code                  timestamp
0   1      381        854           1 2018-10-16 23:55:04.672367
1   2      466        117           1 2018-10-16 23:55:04.672367
2   3      428         29           1 2018-10-16 23:55:04.672367
3   4      495        672           1 2018-10-16 23:55:04.672367
4   5      182         86           1 2018-10-16 23:55:04.672367

In [19]:
path = './app/static/json/output.json'

In [20]:
v = df.to_json()

In [21]:
v

'{"id":{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6,"6":7,"7":8,"8":9,"9":10},"user_id":{"0":381,"1":466,"2":428,"3":495,"4":182,"5":148,"6":209,"7":119,"8":160,"9":296},"item_code":{"0":854,"1":117,"2":29,"3":672,"4":86,"5":410,"6":24,"7":408,"8":313,"9":44},"action_code":{"0":"1","1":"1","2":"1","3":"1","4":"1","5":"1","6":"1","7":"1","8":"1","9":"1"},"timestamp":{"0":1539734104672,"1":1539734104672,"2":1539734104672,"3":1539734104672,"4":1539734104672,"5":1539734104687,"6":1539734104687,"7":1539734104687,"8":1539734104687,"9":1539734104687}}'